body {
	background: dodgerblue;
	font-family: arial;
}
h1 {
	color: orange;
	font-family: Impact, Charcoal, sans-serif;
}
h3 {
	background:lime;
	padding:10px;
}
.title {
	font-size: 45px;
}